CERTIFICATE=nome.pfx
PASSWORD=senha

NFEFOLDER=/var/nfe/producao/enviadas/aprovadas
RECEIVEDFOLDER=/var/nfe/producao/recebidas
EVENTFOLDER=/var/nfe/producao/eventos
CANCELFOLDER=/var/nfe/producao/canceladas
CCEFOLDER=/var/nfe/producao/cartacorrecao

DBTYPE=MySQL
DBUSER=root
DBPASS=senha
DBHOST=localhost
DBPORT=3306
DBNAME=test

MAILFROM=nfe@mail.com.br
MAILHOST=smtp.mail.com.br
MAILUSER=nfe@mail.com.br
MAILPASS=senha
MAILPROTOCOL=tls
MAILPORT=587
MAILFROM=nfe@mail.com.br
MAILFROMNAME="Sua Empresa"
MAILREPLY=vendas@mail.com.br

