{
    "atualizacao":"2018-06-16 06:01:21",
    "tpAmb":1,
    "razaosocial":"Sua empresa Ltda",
    "siglaUF":"SP",
    "cnpj":"99999999999999",
    "schemes":"PL_009_V4",
    "versao":"4.00",
    "tokenIBPT":"",
    "CSC":"",
    "CSCid":"",
    "aProxyConf":{
        "proxyIp":"",
        "proxyPort":"",
        "proxyUser":"",
        "proxyPass":""
    }
}
